<div>
    <div>
        <div class="file-widget">
            <div class="widget-header">
                <div>
                    <button mat-raised-button color="primary" (click)="openFileReader()">
                        <i class="fa fa-plus"></i>
                        <span>파일첨부하기</span>
                    </button>
                </div>
            </div>
            <div class="widget-body" fileDropZone (files)="upload($event)">
                <div class="no-file-desc" *ngIf="files.length === 0">
                    <p><i class="fa fa-cloud-upload"></i></p>
                    <p>여러 개의 첨부 파일을 마우스로 끌어놓으세요.</p>
                </div>
                <div *ngIf="files.length > 0">
                    <div class="in-queue" *ngFor="let file of files; let i = index">
                        <div class="file-type {{file.fileType}}"></div>
                        <div class="file-content">
                            <p class="file-name">{{file.fileName}}</p>
                            <p class="file-info">{{file.size | filesize}}</p>
                        </div>
                        <div class="file-action">
                            <button (click)="deleteFile(i)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <input #fileReader (change)="upload($event.target.files)"
                id="file-5" class="file" type="file" multiple="multiple" data-preview-file-type="any" data-upload-url="#" placeholder="">
        </div>
    </div>
</div>