.form-unit{
    
    .mat-form-field{
        width: 100%;
    }
}

.form-half{
    display: flex;

    .mat-form-field{
        width: 45%;
        margin-right: 20px;
    }
}

.checkbox-divider-half{
    .mat-checkbox{width: 48%;}
}

.content-btn{
    button{
        margin-right: 10px;
    }
}

.reactive-form-container{
    margin: 10px auto;
    max-width: 650px;
    height: calc(100% - 25px);

    h3{
        position: relative;
        a{
            position: absolute;
        }
        span{margin-left: 50px;}
    }
    .form-splitter{
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0px 1px 3px 0px #aaa;
        height: calc(100% - 5px);
        .split-side{
            height: 100%;
            background-color: #f6f6f6;
            border-right: 1px solid #ddd;
            
            ul li{
                padding: 20px;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
                color: #444;
                &:hover{
                    background-color: #ddd;
                }
            }
        }

        .content-header{
            border-bottom: 1px solid #ddd;
            padding: 20px;
            background-color: #f6f6f6;

            span{
                vertical-align: super;
            }
        }

        .content-body{
            padding: 20px;
            padding-top: 0;
        }
    }
}

.suffix-won{
    position: relative;
    width: 30%;
    &::after{
        content: '원';
        position: absolute;
        right: 0;
        top: 22px;
        font-size: 14px;
        font-weight: 600;
        color: #555;
    }
    input{
        font-size: 14px;
    }
}

.border-bottom-ddd{
    border-bottom: 1px solid #ddd;
}