<swiper [slidesPerView]="1" [spaceBetween]="50" [navigation]="true" [pagination]="{ clickable: true }"
    [thumbs]="{ swiper: thumbsSwiper }">
    <ng-template swiperSlide><div style="height: 100%; background-color: aliceblue;">Slide 1</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: antiquewhite;">Slide 2</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: aqua;">Slide 3</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: aquamarine;">Slide 4</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: azure;">Slide 5</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: bisque;">Slide 6</div></ng-template>
</swiper>
<swiper [slidesPerView]="3" [spaceBetween]="0" (swiper)="setThumbsSwiper($event)" [navigation]="{}" class="accom_thumb">
    <ng-template swiperSlide><div style="height: 100%; background-color: aliceblue;">Slide 1</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: antiquewhite;">Slide 2</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: aqua;">Slide 3</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: aquamarine;">Slide 4</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: azure;">Slide 5</div></ng-template>
    <ng-template swiperSlide><div style="height: 100%; background-color: bisque;">Slide 6</div></ng-template>
</swiper>