@import '/src/assets/var';
#main { margin-top: 150px; }

/** 객실정보/예약 **/
#sec_reserv_info {
    .reserv_field {
        margin: 40px 0;
        label {
            display: block;
            color: $light_gray;
            font-size: $font_s;
            font-weight: 300;
        }
        button {
            background: transparent;
            color: $black;
            font-size: $font_m;
            .icon_pencil {
                display: inline-block;
                position: relative;
                top: 3px;
                @include bg(27px, 20px, 'icon_pencil.png');
            }
            @include tablet {
                font-size: 16px;
            }
        }
    }
    .pay_reserve {
        .pay_result {
            color: #999;
            .list_price {
                margin-left: 10px;
                color: $point;
                font-size: 28px;
                font-weight: 700;
            }
        }
        button {
            margin-top: 10px;
            font-size: 18px;
            @include basicInput(230px, 60px);
            &:hover {
                background: $point;
                color: $white;
                border: 1px solid $point;
            }
        }
    }
    .list_body {
        .item_info {
            & > div {
                @include td(1, 25%);
                @include td(2, 55%);
                @include td(3, 20%);
            }
        }
    }
}

/** 숙소정보 **/
#sec_guide {
    .info_wrap {
        max-width: 600px;
        margin: 0 auto;
        h3 {
            margin: 20px 0 10px 0;
            padding: 5px 10px;
            background: #f7f7f7;
            color: #666;
        }
        ul {
            padding: 10px;
            li {
                margin-bottom: 5px;
            }
        }
    }
}

/** 리뷰 **/
.rv_write {
    border-bottom: $gray_border;
    textarea {
        width: 100%;
        padding: 8px;
        border: $basic_border;
        font-size: $font_s;
        resize: none;
    }
    .rv_w_footer {
        .file_btn {
            display: inline-block;
            width: 50px;
            height: 50px;
            background: url('#{$img_url}file_btn.png') 50% 50% no-repeat;
            border: $basic_border;
            cursor: pointer;
        }
        input[type=file] { display: none; }
        .desc {
            display: inline-block;
            margin-left: 5px;
            color: $light_gray_b;
            font-size: $font_xs;
            @include tablet { display: none; }
        }
        .submit_btn {
            min-width: 150px;
            height: 50px;
            font-size: $font_def;
        }
    }
}

.rv_item {
    padding: 40px 0;
    border-bottom: $basic_border;
    .rv_header {
        color: $light_gray_b;
        font-size: $font_xs;
        .score {
            position: relative;
            top: -2px;
        }
    }
    .rv_body {
        margin: 10px 0;
        .reply_btn {
            color: $gray;
            font-size: $font_xs;
            &:hover {
                color: $light_gray;
            }
        }
        .more {
            color: $point;
            font-size: 15px;
            &:hover {
                text-decoration: underline;
            }
        }
        .rv_pic {
            margin-top: 20px;
            ul li {
                position: relative;
                width: 120px;
                height: 120px;
                margin-right: 10px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &:hover {
                        opacity: 0.7;
                        transition: 0.3s;
                    }
                }
            }
        }
        .txt_post {
            @include textMultiEllipsis(3);
        }
    }
    .rv_footer {
        padding: 0 20px;
        .mod_btn, .del_btn {
            background: transparent;
            color: $light_gray;
            font-size: $font_xs;
            vertical-align: middle;
        }
    }
    
    &.rv_reply {
        padding: 20px;
        background: $gray_bg;
        .rv_header:before {
            display: inline-block;
            position: relative;
            top: -2px;
            margin: 0 8px;
            @include bg(8px, 8px, 're.png');
        }
        .rv_body {
            padding: 0 30px;
            color: $gray;
        }
        .rv_footer {
            padding: 0;
        }
    }
}

.rv_content {
    .rv_write {
        margin-top: 10px;
        margin-bottom: 20px;
        border-bottom: 0;
    }
}

.accom_info_top {
    & > div {
        width: 50%;
    }
    .info_area {
        // position: absolute;
        // right: 0;
        // bottom: 120px;
        padding: 20px 0 0 30px;
        h2 {
            margin: 0 0 10px 0;
        }
    }
}

.option_condition{
    span{
        text-align: end;
        font-size: 12px !important;
        width: unset !important;
        line-height: unset !important;
        margin-top: 10px;
        margin-right: 5px;
        padding: 0 5px;
        border-radius: 20px;

        &.option_condition_cash{
            border: 1px solid #6e8;
        }

        &.option_condition_delivery{
            border: 1px solid #ff7f50;
        }
    }
}

/* 평점 */
.score {
    li {
        line-height: 40px;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    label {
        font-size: $font_xs;
        color: $black;
    }
}