/* Add mobile styles for the component here.  */
.info-container{
    margin: 10 0;
    .info-title{ padding: 10; background-color: #f6f6f6;}
    .dot-icon{ margin-right: 5;}
    .info-content{ margin: 5;}
}