.list_body .item_info > div:nth-child(1) { width: 25%; }

@media (max-width: 800px) { #sec_reserv_view .list_body .item_info > div:nth-child(1) { width: 100% !important; } }

#sec_reserv_view .list_body .item_info > div:nth-child(2) { width: 65%; }

@media (max-width: 800px) { #sec_reserv_view .list_body .item_info > div:nth-child(2) { width: 100% !important; } }

#sec_reserv_view .list_body .item_info > div:nth-child(3) { width: 10%; }

@media (max-width: 800px) { #sec_reserv_view .list_body .item_info > div:nth-child(3) { width: 100% !important; } }

/** sec_mp_index **/
.mp_index { width: 100%; border-top: 1px solid #333; background: #fbfbfb; }

.mp_index li { position: relative; width: 25%; height: 140px; }

.mp_index li:after { display: block; position: absolute; top: 50%; left: 0; width: 1px; height: 40px; background: #ddd; transform: translateY(-50%); content: ''; }

.mp_index li:first-child:after { display: none; }

.mp_index li dl { padding: 30px 20px; }

.mp_index li dl dt { margin-bottom: 10px; color: #aaa; font-size: 14px; }

.mp_index li dl dd .desc { color: #bbb; font-size: 13px; }

.mp_index li dl dd .num { color: #93b85f; font-size: 24px; font-weight: 700; }

@media (max-width: 800px) { .mp_index li { width: 100%; }
  .mp_index li:after { top: 0; width: 95%; height: 1px; transform: translateX(2.5%); } }

.content > h2 { margin-top: 80px;}