<div>
    <mat-tab-group animationDuration="2ms" (selectedTabChange)="operateTab($event.index)">
        <mat-tab label="내 정보">
            <div class="content-body">
                <mat-accordion multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                내 정보
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="mat-panel-body">
                            정보입력
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                입금 계좌
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="mat-panel-body">
                            계좌
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tab>
        <mat-tab label="제휴 정보">
            <div class="content-body">
                <form [formGroup]="partnerform" class="flex-column form-regular">
                    <h4>제휴사명
                        <span *ngIf="checkValid('PartnerNm')" class="text-error"> * 필수정보 입니다.</span>
                    </h4>
                    <input type="text" formControlName="PartnerNm" placeholder="제휴사명" [ngStyle]="{'borderColor': checkValid('PartnerNm') ? '#f00': '#ddd'}">
                    <h4>사업자번호
                        <span *ngIf="checkValid('BizNo')" class="text-error"> * 필수정보 입니다.</span>
                    </h4>
                    <input type="text" formControlName="BizNo" placeholder="사업자번호" 
                        [ngStyle]="{'borderColor': checkValid('BizNo') ? '#f00': '#ddd'}">
                    <h4>대표자
                        <span *ngIf="checkValid('President')" class="text-error"> * 필수정보 입니다.</span>
                    </h4>
                    <input type="text" formControlName="President" placeholder="대표자" 
                        [ngStyle]="{'borderColor': checkValid('President') ? '#f00': '#ddd'}">
                    <h4>대표번호
                        <span *ngIf="checkValid('Phone')" class="text-error"> * 필수정보 입니다.</span>
                    </h4>
                    <input type="text" formControlName="Phone" placeholder="대표번호" 
                        [ngStyle]="{'borderColor': checkValid('Phone') ? '#f00': '#ddd'}">
                    <h4>이메일
                        <span *ngIf="checkValid('Email')" class="text-error"> * 필수정보 입니다.</span>
                    </h4>
                    <input type="text" formControlName="Email" placeholder="이메일" 
                        [ngStyle]="{'borderColor': checkValid('Email') ? '#f00': '#ddd'}">
                    
                    <div class="modal-content">
                        <h3>서류 첨부</h3>
                        <h5>필요 서류를 첨부해주세요.</h5>
                        <div class="background-highlight">
                            <ul class="list-decorate-dot">
                                <li>사업자 등록증</li>
                                <li>관광사업 등록증</li>
                                <li>야영장사고배상책임 보험증</li>
                                <li>통장사본</li>
                            </ul>
                        </div>
                        <app-file-attach (uploaded)="syncFileList($event)" [loadedFile]="uploadFileList" [refresh]="refreshFile"></app-file-attach>
                    </div>
                    <div class="btn-box">
                        <button mat-raised-button color="primary" *ngIf="exposeSubmit" (click)="submit()">제출</button>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>