.content-body{
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
}

.mat-panel-body{
    margin-top: 20px;
}

.background-highlight{
    background-color: #ddd;
    padding: 1px 0;
    border-radius: 5px;
    margin-bottom: 10px;

    li{
        cursor: initial;
    }
}