<div>
    <button mat-stroked-button color="primary" routerLink="/admin/accom/unit-edit">객실 타입 추가</button>
    <div class="unit-list">
        <div *ngFor="let unit of unitList" class="unit-content" (click)="goEdit(unit.UnitId)">
            <h3>{{unit.UnitNm}}({{unit.roomCnt}})</h3>
            <div> 
                <div class="guest-indicate">
                    <dt>기준인원</dt>
                    <dt>{{unit.GuestStd}}</dt>
                </div>
                <div class="guest-indicate">
                    <dt>/</dt>
                    <dt>/</dt>
                </div>
                <div class="guest-indicate">
                    <dt>최대인원</dt>
                    <dt>{{unit.GuestMax}}</dt>
                </div>
            </div>
        </div>
    </div>
</div>