@import '/src/assets/var';

/** 로그인 **/
.sec_login .sub_tab ul li { width: 50%; }

.loginWrap {
    width: 95%;
    max-width: 600px;
    margin: 0 auto 150px auto;
    .input_wrap {
        max-width: 420px;
        margin: 50px auto;
        & > div {
            margin-bottom: 0;
            text-align: center;
            .login_btn {
                width: 100%;
                height: 50px;
                font-size: $font_def;
            }
            &.log_util {
                ul {
                    display: inline-block;
                    li {
                        a {
                            color: $light_gray;
                            font-size: $font_s;
                        }
                        @include miniBar(0 15px, #ddd);
                    }
                }
            }
        }
    }
    .log_desc {
        padding: 40px 20px;
        background: $gray_bg;
        p {
            color: $gray;
            font-size: $font_def;
        }
        span {
            color: $light_gray;
            font-size: $font_xs;
        }
    }
}