/* Add mobile styles for the component here.  */
.recom-text{color:#1b3a57; text-align: center; font-size: 30; font-weight: bold; margin-top: 30;}
.main_partners{ width: 80; height: 50; background-repeat: no-repeat;}