<div>
    <div class="sub_title">
        <div class="content">
            <h2>예약조회</h2>
            <p class="page_desc">
                <span class="title">예약 취소/환불 안내</span>
                <span>결제 완료된 예약 건은 위약금 및 부분 결제 취소 등의 이유로 사용자 취소/환불이 불가능합니다.<br>
                고객센터(031-932-8188) 또는 1:1 게시판에 문의 주시기 바랍니다.</span>
            </p>
        </div>
    </div>
    <section id="sec_reserv_view">
        <div class="content">
            <ul class="nm_list">
                <!-- loop -->
                <li class="list_body">
                    <div class="dp_td item_info">
                        <div class="item_thumb">
                            <img src="./images/thumb/thumb1.png" alt="">
                        </div>
                        <div class="item_title va_top">
                            <p class="list_sub">2021-09-02</p>
                            <h3>충주 캠핑리조트</h3>
                            <p class="list_sub_desc mgt20">
                                입실 <span>2021-08-16</span> ~ 퇴실 <span>2021-08-17</span>
                            </p>
                        </div>
                        <div class="item_state va_middle">
                            <p>결제대기</p>
                            <button class="print_rec_btn">[영수증 출력]</button>
                        </div>
                    </div>
                </li>
                <!-- //loop -->
            </ul>
            
            <!-- <div class="pagination">
                <a href="#" class="pre_end"><span class="blind">처음</span></a>
                <a href="#" class="pre"><span class="blind">이전</span></a>
                <a href="#">1</a>
                <strong>2</strong>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#" class="next"><span class="blind">다음</span></a>
                <a href="#" class="next_end"><span class="blind">끝</span></a>
            </div> -->
        </div>
    </section>
</div>