// path
$img_url: '/assets/images/';


// background & color
$black: #333;
$white: #fff;
$point: #93b85f;

$gray: #666;
$light_gray: #aaa;
$light_gray_b: #bbb;
$light_gray_d: #ddd;

$gray_bg: #fbfbfb;


// border
$basic_border: 1px solid #ddd;
$black_border: 1px solid #333;
$gray_border: 1px solid #eee;
$point_border: 1px solid #93b85f;


// font-size
$font_xxs : 13px;
$font_xs : 14px;
$font_s  : 15px;
$font_def: 16px;
$font_m  : 20px;
$font_l  : 24px;
$font_xl : 32px;




// mixin
@mixin clear {
    display: block;
    clear: both;
    content: '';
}

@mixin miniBar($margin, $bg) {
    &:not(:last-child):after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: $margin;
        background-color: $bg;
        content: '';
    }
}

@mixin basicInput($width: auto, $height: 36px) {
    width: $width;
    min-width: 80px;
    height: $height;
    padding: 3px 8px;
    background: $white;
    color: $gray;
    border: $basic_border;
}
@mixin button($width: auto, $height: 36px) {
    width: $width;
    min-width: 80px;
    height: $height;
    padding: 3px 8px;
}
@mixin blackButton($width: auto, $height: 36px) {
    width: $width;
    min-width: 80px;
    height: $height;
    background: $black;
    color: $white;
    border: $black_border;
    cursor: pointer;
}

@mixin buttonWrap($num, $btn_width) {
    // $버튼 개수
    max-width: ($btn_width * $num) + (10px * $num);
    button {
        @include blackButton($btn_width);
    }
}

@mixin textEllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@mixin textMultiEllipsis($line: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

@mixin mobile_menu {
    display: inline-block;
    position: absolute;
    width: 23px;
    border-top: 2px solid #333;
    content: '';
    &.active {
        bottom: 6px;
        transition: all 0.2s;
    }
}

@mixin td($td_num, $td_width) {
    &:nth-child(#{$td_num}) {
        width: #{$td_width};
    }

    @include tablet {
        &:nth-child(#{$td_num}) {
            width: 100% !important;
        }
    }
}

@mixin bg($w, $h, $img_name) {
    width: $w;
    height: $h;
    background: url('#{$img_url}#{$img_name}') 50% 50% no-repeat;
    content: '';
}

// breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 800px;

@mixin tablet {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: #{$breakpoint-desktop}) {
        @content;
    }
}