@import '/src/assets/var';

/*** fnbArea ***/
#fnbArea {
    height: 60px;
    margin-top: 80px;
    border-top: $gray_border;
    line-height: 60px;
    .fnb ul li {
        margin-right: 30px;
        font-size: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}

/*** footer ***/
#footer {
    padding: 30px 0;
    background: $black;
    color: $white;
    font-size: 15px;
    .info{
        margin: 20px 0;
        ul li {
            line-height: 22px;
            font-weight: 300;
            &:after {
                @include miniBar(0 15px, $gray);
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    .copyright {
        color: $light_gray;
    }
}